{% extends 'app_one/base.html' %}

{% block title%}
{{title}}
{% endblock %}


{% block content%}
{% if cv %}
    <div class="alert alert-warning mt-2">
        <div class="text-center">
            <img src= "{{ cv.0.image.url }}" class="img-fluid img-profile rounded-circle mx-auto mb-2" width="200" height="200" alt="...">
            <h2 class="h1">{{ cv.0.firstname }} {{ cv.0.lastname }}</h2>
            <h5 class="text-secondary mt-3">{{ cv.0.short }}</h5>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mt-5 mb-4">{{ cv.0.about }}</p>
        </blockquote>
        {% if galery %}
        <div class="row">
            {% for img in galery %}
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <img
                            src="{{ img.image.url }}"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt="Boat on Calm Water"
                        />
                    </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% else %}
        <p>Nu sunt date!</p>
    {% endif %}
{% endblock %}
